build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/D3Dcompiler_47.dll
build/libgcc_s_seh-1.dll
build/libstdc++-6.dll
build/libwinpthread-1.dll
build/MainWindow.exe
build/opengl32sw.dll
build/Qt6Core.dll
build/Qt6Gui.dll
build/Qt6Network.dll
build/Qt6Svg.dll
build/Qt6Widgets.dll
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ef6aaeaf529ce2636573.json
build/.cmake/api/v1/reply/cmakeFiles-v1-2e2ece98c693522beb70.json
build/.cmake/api/v1/reply/codemodel-v2-5efee0878c8c9f0d37f2.json
build/.cmake/api/v1/reply/directory-.-Debug-a1420caf7872ef69237f.json
build/.cmake/api/v1/reply/index-2025-11-11T13-22-00-0226.json
build/.cmake/api/v1/reply/target-MainWindow_autogen_timestamp_deps-Debug-a7e74b263754e7aaf05b.json
build/.cmake/api/v1/reply/target-MainWindow_autogen-Debug-258ccf25a133b4a1ffcd.json
build/.cmake/api/v1/reply/target-MainWindow-Debug-af5d10d88ef7bb4cc783.json
build/.cmake/api/v1/reply/toolchains-v1-8143f0908e10e5a41a01.json
build/.qt/deploy_MainWindow_05869630d1.cmake
build/.qt/MainWindow-plugins.cmake
build/.qt/QtDeploySupport.cmake
build/.qt/QtDeployTargets.cmake
build/CMakeFiles/clean_additional.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.1/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.1/CMakeSystem.cmake
build/CMakeFiles/4.1.1/CompilerIdCXX/a.exe
build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MainWindow.dir/MainWindow_autogen/mocs_compilation.cpp.obj
build/CMakeFiles/MainWindow.dir/src/main.cpp.obj
build/CMakeFiles/MainWindow.dir/src/MainWindow.cpp.obj
build/CMakeFiles/MainWindow.dir/src/tools/bscvTool1.cpp.obj
build/CMakeFiles/MainWindow.dir/src/widget/heightMeature/Widget/testHWidget.cpp.obj
build/CMakeFiles/MainWindow.dir/src/widget/heightMeature/core/testHeight.cpp.obj
build/CMakeFiles/MainWindow.dir/src/widget/heightMeatureWidget/testHWidget.cpp.obj
build/CMakeFiles/MainWindow.dir/src/widget/heightMeatureWidget/textHWidget.cpp.obj
build/CMakeFiles/MainWindow.dir/src/zoomScene/zoomScene.cpp.obj
build/CMakeFiles/MainWindow_autogen.dir/AutogenInfo.json
build/CMakeFiles/MainWindow_autogen.dir/AutogenUsed.txt
build/CMakeFiles/MainWindow_autogen.dir/ParseCache.txt
build/MainWindow_autogen/deps
build/MainWindow_autogen/moc_predefs.h
build/MainWindow_autogen/mocs_compilation.cpp
build/MainWindow_autogen/timestamp
build/MainWindow_autogen/64I5TY2FXY/moc_zoomScene.cpp
build/MainWindow_autogen/64I5TY2FXY/moc_zoomScene.cpp.d
build/MainWindow_autogen/6JYCSSLWZ4/moc_testHWidget.cpp
build/MainWindow_autogen/6JYCSSLWZ4/moc_testHWidget.cpp.d
build/MainWindow_autogen/6JYCSSLWZ4/moc_textHWidget.cpp
build/MainWindow_autogen/6JYCSSLWZ4/moc_textHWidget.cpp.d
build/MainWindow_autogen/FWJF7QXNGJ/moc_testHWidget.cpp
build/MainWindow_autogen/FWJF7QXNGJ/moc_testHWidget.cpp.d
build/MainWindow_autogen/UVLADIE3JM/moc_MainWindow.cpp
build/MainWindow_autogen/UVLADIE3JM/moc_MainWindow.cpp.d
build/generic/qtuiotouchplugin.dll
build/iconengines/qsvgicon.dll
build/imageformats/qgif.dll
build/imageformats/qico.dll
build/imageformats/qjpeg.dll
build/imageformats/qsvg.dll
build/networkinformation/qnetworklistmanager.dll
build/platforms/qwindows.dll
build/styles/qmodernwindowsstyle.dll
build/tls/qcertonlybackend.dll
build/tls/qschannelbackend.dll
build/translations/qt_ar.qm
build/translations/qt_bg.qm
build/translations/qt_ca.qm
build/translations/qt_cs.qm
build/translations/qt_da.qm
build/translations/qt_de.qm
build/translations/qt_en.qm
build/translations/qt_es.qm
build/translations/qt_fa.qm
build/translations/qt_fi.qm
build/translations/qt_fr.qm
build/translations/qt_gd.qm
build/translations/qt_he.qm
build/translations/qt_hr.qm
build/translations/qt_hu.qm
build/translations/qt_it.qm
build/translations/qt_ja.qm
build/translations/qt_ka.qm
build/translations/qt_ko.qm
build/translations/qt_lv.qm
build/translations/qt_nl.qm
build/translations/qt_nn.qm
build/translations/qt_pl.qm
build/translations/qt_pt_BR.qm
build/translations/qt_ru.qm
build/translations/qt_sk.qm
build/translations/qt_tr.qm
build/translations/qt_uk.qm
build/translations/qt_zh_CN.qm
build/translations/qt_zh_TW.qm
build/.cmake/api/v1/reply/cmakeFiles-v1-19612315d7a28430360d.json
build/.cmake/api/v1/reply/codemodel-v2-e47f416c3467d3ccd680.json
build/.cmake/api/v1/reply/index-2025-11-12T01-50-12-0052.json
build/.cmake/api/v1/reply/target-MainWindow-Debug-6950dbefeb57031e579a.json
build/CMakeFiles/MainWindow.dir/src/tools/bscvTool.cpp.obj
build/CMakeFiles/MainWindow.dir/src/tools/ImagePreprocess.cpp.obj
build/.cmake/api/v1/reply/cmakeFiles-v1-6b6a2853eb873d08182a.json
build/.cmake/api/v1/reply/codemodel-v2-92020bd8f07cc691eb60.json
build/.cmake/api/v1/reply/index-2025-11-14T11-57-55-0752.json
build/.cmake/api/v1/reply/target-MainWindow-Debug-5ba92d78e7fe2a7b519c.json
build/CMakeFiles/MainWindow.dir/src/heightMeature/Widget/testHWidget.cpp.obj
build/CMakeFiles/MainWindow.dir/src/heightMeature/core/testHeight.cpp.obj
build/MainWindow_autogen/JARRNCZRC5/moc_testHWidget.cpp
build/MainWindow_autogen/JARRNCZRC5/moc_testHWidget.cpp.d
build/.cmake/api/v1/reply/cache-v2-016200ee1aa76cc374fb.json
build/.cmake/api/v1/reply/cmakeFiles-v1-5a379e2c5b02eee4c8e2.json
build/.cmake/api/v1/reply/codemodel-v2-6eb48ba081283efa8fef.json
build/.cmake/api/v1/reply/index-2025-11-15T02-35-41-0314.json
build/.cmake/api/v1/reply/target-MainWindow-Debug-41ddf7a910567d4ad46d.json
build/CMakeFiles/MainWindow.dir/src/zoomScene/ImageSceneBase.cpp.obj
build/MainWindow_autogen/64I5TY2FXY/moc_ImageSceneBase.cpp
build/MainWindow_autogen/64I5TY2FXY/moc_ImageSceneBase.cpp.d
build/.cmake/api/v1/reply/cache-v2-002771098078582ceeff.json
build/.cmake/api/v1/reply/cmakeFiles-v1-d0327d088227cb4459ad.json
build/.cmake/api/v1/reply/codemodel-v2-d46be49e206d8da43f88.json
build/.cmake/api/v1/reply/index-2025-11-15T11-55-59-0160.json
build/.cmake/api/v1/reply/target-MainWindow-Debug-d1a6269a0106010a835f.json
build/CMakeFiles/MainWindow.dir/src/Scene/ImageDisplayScene.cpp.obj
build/CMakeFiles/MainWindow.dir/src/Scene/ImageSceneBase.cpp.obj
build/CMakeFiles/MainWindow.dir/src/Scene/zoomScene.cpp.obj
build/CMakeFiles/MainWindow.dir/src/Widget/HeightMainWindow.cpp.obj
build/CMakeFiles/MainWindow.dir/src/template/Widget/matchWidget.cpp.obj
build/CMakeFiles/MainWindow.dir/src/zoomScene/ImageDisplayScene.cpp.obj
build/MainWindow_autogen/4PPEWOFPS6/moc_ImageDisplayScene.cpp
build/MainWindow_autogen/4PPEWOFPS6/moc_ImageDisplayScene.cpp.d
build/MainWindow_autogen/4PPEWOFPS6/moc_ImageSceneBase.cpp
build/MainWindow_autogen/4PPEWOFPS6/moc_ImageSceneBase.cpp.d
build/MainWindow_autogen/4PPEWOFPS6/moc_zoomScene.cpp
build/MainWindow_autogen/4PPEWOFPS6/moc_zoomScene.cpp.d
build/MainWindow_autogen/64I5TY2FXY/moc_ImageDisplayScene.cpp
build/MainWindow_autogen/64I5TY2FXY/moc_ImageDisplayScene.cpp.d
build/MainWindow_autogen/JRHOXWHL3J/moc_matchWidget.cpp
build/MainWindow_autogen/JRHOXWHL3J/moc_matchWidget.cpp.d
build/MainWindow_autogen/ONN2DQSSI7/moc_HeightMainWindow.cpp
build/MainWindow_autogen/ONN2DQSSI7/moc_HeightMainWindow.cpp.d
